{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block arianne %}
    <div class="subArianne">{{article.category.name}}</div>
    <a href="{{ url_for('blog.showArticle', id=article.id, slug=article.slug) }}" class="subArianne">
        {{article.slug}}
    </a>
{% endblock %}

{% block content %}

    <div class="term">
        {{article.title}}<br/>
        {{article.content}}<br/>
        {{article.user.name}}<br/>
    </div>
{% endblock %}
