{% extends 'base.html' %}

{% block title %}Blog{% endblock %}

{% block arianne%}
    <a href="{{ url_for('blog.index') }}" class="subArianne">
        Blog
    </a>
    {% if (request.endpoint == 'blog.listArticleFromCategory') %}
        <a href="{{ url_for('blog.listArticleFromCategory', id=articles[0].category.id, slug=articles[0].category.name|slug) }}" class="subArianne">
            {{articles[0].category.name}}
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if (request.endpoint == 'blog.index') %}
        <div class="command">ls -lt ./Articles/</div>
    {% elif (request.endpoint == 'blog.listArticleFromCategory') %}
        <div class="command">find ./Articles/ -group {{articles[0].category.name|slug}}</div>
    {% endif %}
    {% for article in articles %}
        <article class="blogArticle">
            <span class="right">-rw-r--r--</span>
            <span class="num">1</span>
            <span class="author">{{article.user.name|capitalize}}</span>
            <a class="category" href="{{ url_for('blog.listArticleFromCategory', id=article.category.id, slug=article.category.name|slug) }}"><h3>{{article.category.name|capitalize|slug}}</h3></a>
            <span class="count">{{article.content|count}}</span>
            <span class="date">{{article.publishedDate|datetimeformat('%d %b. %H:%M')}}</span>
            <a class="article" href="{{ url_for('blog.showArticle', id=article.id, slug=article.slug)}}"><h2>{{article.title}}</h2></a>
        </article>
    {% endfor %}

{% endblock %}
