{% extends 'base.html' %}

{% block arianne%}
    <a href="{{ url_for('contact') }}" class="subArianne">
        Contact
    </a>
{% endblock %}

{% block content %}

    {% include 'parts/windowTop.html' %}
        <form id="formContact" method="post">
            <div class="line">
                <div class="btn send noselect">
                    <i class="material-icons noselect">send</i>
                    <div class="txt noselect">Envoyer</div>
                </div>
                <div class="btn cancel noselect">
                    <i class="material-icons noselect">cancel</i>
                    <div class="txt noselect">Annuler</div>
                </div>
            </div>
            <div class="line">
                <div>Expéditeur </div><input type="text" name="mail" placeholder="" class="field"/>
            </div>
            <div class="line">
                <div>Pour </div><input type="text" name="mailto" disabled value="Vincent Sajot"  class="field"/>
            </div>
            <div class="line">
                <div>Sujet </div><input type="text" name="sujet"  class="field"/>
            </div>
            <div class="line">
                <textarea name="content"></textarea>
            </div>
        </form>

    {% include 'parts/windowBottom.html' %}

{% endblock %}
